
:root {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;

  /* Colours */
  --Orange: hsl(26, 100%, 55%);
  --Pale-Orange: hsl(25, 100%, 94%);
  --Very-Dark-Blue: hsl(220, 13%, 13%);
  --Dark-Grayish-Blue: hsl(219, 9%, 45%);
  --Grayish-Blue: hsl(220, 14%, 75%);
  --Light-Grayish-Blue: hsl(223, 64%, 98%);
  --White: hsl(0, 0%, 100%);
  --Black: hsl(0, 0%, 0%);
  /* (with 75% opacity for lightbox background */
}

* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: "Kumbh Sans";
}

body {
  margin: 0;
}

h1, h2, p {
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-block: 3vh;
  background-color: white;
  position: fixed;
  width: 100%;
}

.header-left-section {
  display: flex;
  align-items: center;
}

.header-right-section {
  display: flex;
  align-items: center;
}
nav {
  display: none;
  gap: 2rem;
  color: var(--Dark-Grayish-Blue);
  font-size: 1rem;
  margin-left: 3rem;
}

.menu-icon {
  margin-inline: 5vw;
}

.avatar {
  height: 25px;
  width: auto;
  margin-inline: 5vw;
}

.gallery {
  width: 90%;
  height: 55vh;
  overflow:hidden;
  padding: 0;
  margin: 0;
  padding-top: 4rem;
  display: flex;
  flex-direction: column;
}


.current-image {
  /*
  width: 100%;  
  height: auto;
  */
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
  padding: 0;
  margin: 0;  
}

.gallery-preview {
  display: none;
}

.gallery-buttons {
  position: absolute;
  width: 88%;
  height: 12.5px;
  left: 7.5vw;
  top: 27vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.arrow {
    background-color: white;
    border-radius: 50px;
    padding: 11px;
    color: black;
    height: 34px;
    width: 34px;
}

.product-section {
  margin-top: 1.5rem;
  margin-inline: 1.5rem;
  padding-bottom: 2.5rem;
}

.brand-name {
  color: var(--Dark-Grayish-Blue);
  font-size: 0.65rem;
  letter-spacing: 0.1rem;
  margin-bottom: 0.8rem;
}

.product-name {
  color: var(--Very-Dark-Blue);
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.product-description {
  color: var(--Dark-Grayish-Blue);
  font-size: 0.75rem;
  letter-spacing: 0.05rem;
  margin-bottom: 1rem;
  font-weight: 400;
}

.price-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

}

.current-price {
  color: var(--Very-Dark-Blue);
}

.discount {
  color: var(--Light-Grayish-Blue);
  background-color: var(--Very-Dark-Blue);
  font-size: 0.9rem;
  padding: 0.25rem 0.5rem;
  border-radius: 8px;
  margin-right: 7rem;
}

.previous-price {
  color: var(--Dark-Grayish-Blue);
  font-size: 0.8rem;
  text-decoration:line-through;
}

.add-to-cart {
  display: flex;
  flex-direction: row;
}

.quantity-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem 1rem;
}

.minus-icon {
  height: 0.3rem;
  width: auto;
}

.plus-icon {
  height: 1rem;
  width: auto;
}

.cart-quantity {
  font-size: 1rem;
  font-weight: 700;
  color: var(--Very-Dark-Blue); 
}

.add-to-cart-button-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--Orange);
  padding-block: 1rem;
  border-radius: 10px;
  color: var(--Very-Dark-Blue);
}

.cart-icon {
  color: var(--Very-Dark-Blue);
  margin-right: 0.5rem;
  height: 1rem;
  width: auto;
}

.add-to-cart-text {
  color: var(--Very-Dark-Blue);
  font-size: 0.85rem;
  font-weight: 750;
  margin-left: 0.5rem;
}

/* DESKTOP */

@media (min-width: 1440px) {


  .header {
    padding-inline: 10rem;
    padding-bottom: 7rem;
    border: blue 1px dotted;

  }

  .cart-icon {
    height: 25px;
  }
  
  .avatar {
    height: 45px;
  }

  nav {
    display: flex;
  }

  .menu-icon {
    display: none;
  }

  .main-section {
    border: red 1px solid;
    margin-inline: 13rem;
    padding-top: 11.5rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5rem;
    width: 70%;
  }

  .gallery {
    padding-top: 0;
    height: auto;
  }

  .current-image {
    border-radius: 4%;
  }

  .gallery-preview {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    width: 100%;
    padding-top: 1rem;
  }

  .preview-image > img {
    /* height: 7rem; */
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 10%;
  }

  .product-section {
    display: flex;
    flex-direction: column;
    margin-block: 4rem;
    margin-left: 0rem;
  }
}