:root {
  /* Colours */
  --Orange: hsl(26, 100%, 55%);
  --Pale-Orange: hsl(25, 100%, 94%);
  --Very-Dark-Blue: hsl(220, 13%, 13%);
  --Dark-Grayish-Blue: hsl(219, 9%, 45%);
  --Grayish-Blue: hsl(220, 14%, 75%);
  --Light-Grayish-Blue: hsl(223, 64%, 98%);
  --White: hsl(0, 0%, 100%);
  --Black: hsl(0, 0%, 0%);
  /* (with 75% opacity for lightbox background */
}

* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: "Kumbh Sans";
}

html, body {
  height: 100vh;
  width: 100%;
  margin: 0;
}

h1, h2, p {
  margin: 0;
  padding: 0;
}

.parent-container {
  width: 100%;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-inline: 1rem;
  padding-top: 1rem;
  padding-bottom: 1.5rem;
  align-items: center;
  width: 100%;
}

.header-left-section {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.header-right-section {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.cart-icon-wrapper {
  position: relative;
}

.cart-icon-amount {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0.5rem;
  bottom: 0.8rem;
  background-color: var(--Orange);
  color: white;
  font-size: 0.45rem;
  padding: 0.2rem 0.35rem;
  border-radius: 100%;
  pointer-events: none;
}


nav {
  display: none;
  gap: 2rem;
  color: var(--Dark-Grayish-Blue);
  font-size: 1rem;
  font-weight: 500;
  margin-left: 3rem;
}

nav > a:hover {
  color: var(--Very-Dark-Blue);
  cursor:pointer;
}

img.logo {
  transform: translate(0px, -2px);
}

nav {
  display: none;
}

.avatar {
  height: 25px;
}

.cart-section {
  display: none;
  position: absolute;
  width: 93%;
  margin: 0.5rem 0.9rem;;
  flex-direction: column;
  background-color: white;
  border-radius: 5%;
  padding: 1rem 1rem;
  box-shadow: 0 10px 30px rgba(0,0,0,0.5);
  z-index: 2;
}

.cart-section.active {
  display: flex;
}

.cart-section > h1 {
  font-size: 1rem;
  padding-bottom: 2rem;
  border-bottom: var(--Grayish-Blue) solid 1px;
  margin-bottom: 1rem;
}

.cart-section-items {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.cart-item-image {
  height: 2.5rem;
  border-radius: 10%;
  width: auto;
}

.cart-section-items-info {
    font-weight: 600;
  color: var(--Dark-Grayish-Blue)
}

.cart-total-price {
  font-weight: 800;
  color: var(--Very-Dark-Blue);
}

.delete-icon {
  height: 1rem;
  width: auto;
}

.checkout-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--Orange);
  padding-block: 1rem;
  border-radius: 10px;
  margin: 1.5rem 0rem;
  color: var(--Very-Dark-Blue);
}

.checkout-button > p {
  color: var(--Very-Dark-Blue);
  font-size: 0.85rem;
  font-weight: 750;
  margin-left: 0.5rem;

}

.main-section {
  display: flex;
  flex-direction: column;
}

.gallery {
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.current-image {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.gallery-preview {
  display: none;
}

.gallery-buttons {
  position: absolute;
  width: 100%;
  height: 2rem;
  transform: translate(0, -15rem);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  z-index: 1;
}

.arrow {
    background-color: white;
    border-radius: 100%;
    margin-inline: 1rem;
    padding: 0.8rem;
    color: black;
    height: 2.4rem;
    width: 2.4rem;
}

.product-section {
  margin-top: 1.5rem;
  margin-inline: 1.5rem;
  padding-bottom: 2.5rem;
}

.brand-name {
  color: var(--Dark-Grayish-Blue);
  font-size: 0.65rem;
  letter-spacing: 0.1rem;
  margin-bottom: 0.8rem;
}

.product-name {
  color: var(--Very-Dark-Blue);
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.product-description {
  color: var(--Dark-Grayish-Blue);
  font-size: 0.75rem;
  letter-spacing: 0.05rem;
  margin-bottom: 1rem;
  font-weight: 400;
}

.price-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.current-price {
  color: var(--Very-Dark-Blue);
}

.discount {
  color: var(--Light-Grayish-Blue);
  background-color: var(--Very-Dark-Blue);
  font-size: 0.9rem;
  padding: 0.25rem 0.5rem;
  border-radius: 8px;
  margin-right: 7rem;
}

.previous-price {
  color: var(--Dark-Grayish-Blue);
  font-size: 0.8rem;
  text-decoration:line-through;
}

.add-to-cart {
  display: flex;
  flex-direction: column;
}

.quantity-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem 1rem;
}

.minus-icon {
  height: 0.3rem;
  width: auto;
}

.plus-icon {
  height: 1rem;
  width: auto;
}

.cart-quantity {
  font-size: 1rem;
  font-weight: 700;
  color: var(--Very-Dark-Blue); 
}

.add-to-cart-button-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--Orange);
  padding-block: 1rem;
  border-radius: 10px;
  color: var(--Very-Dark-Blue);
}

.cart-icon {
  color: var(--Very-Dark-Blue);
  margin-right: 0.5rem;
  height: 1rem;
  width: auto;
}

.add-to-cart-text {
  color: var(--Very-Dark-Blue);
  font-size: 0.85rem;
  font-weight: 750;
  margin-left: 0.5rem;
}


/* DESKTOP */
@media (min-width: 1440px) {

  header {
    
    padding-inline: 10rem;
    padding-top: 2rem;
    padding-bottom: 10rem;
      
  }

  .header-right-section {
  gap: 3rem;
}

  .menu-icon {
    display: none;
  }

  img.logo {
  height: 1.5rem;
  transform: translate(0, 0);
}


nav {
  display: flex;
}

.cart-icon {
  height: 1.25rem;
}

.cart-icon-amount {
  right: 4rem;
  bottom: 0.85rem;
  font-size: 0.75rem;
  padding: 0.3rem 0.65rem
}

.avatar {
  height: 3rem;
}



.cart-section {
  right: 0;
  width: 30%;
  margin: 0rem 0.9rem;;
  top: 7rem;
  border-radius: 5%;
  padding: 1rem 1.5rem;
}

.cart-section > h1 {
  font-size: 1.1rem;
  padding-bottom: 2rem;
  margin-bottom: 1rem;
}

.cart-section-items-info {
  font-size: 1.2rem;

}

.cart-item-image {
  height: 4rem;
  border-radius: 10%;
  width: auto;
}

.delete-icon {
  height: 1.4rem;
  width: auto;
}

.checkout-button {
  padding-block: 1rem;
  border-radius: 10px;
  margin: 1.5rem 0rem 0rem 0rem;

}

.checkout-button > p {
  font-size: 1rem;
  font-weight: 750;
  margin-left: 0.5rem;

}



.main-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5rem;
  padding-inline: 12rem;
}
    
.gallery-buttons {
  display: none;
}

.current-image {
  border-radius: 4%;
}

.gallery-preview {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  width: 100%;
  padding-top: 1rem;
}
.preview-image.active {
  margin: 0;
  padding: 0;
  border: 3px var(--Orange) solid;
  border-radius: 10%;
}
.preview-image > img {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: 10%;
  margin: 0;
  padding: 0;
}
.preview-image.active img {
  opacity: 0.3;
}


.product-section {
  margin-top: 0rem;
  margin-inline: 0rem;
  padding-bottom: 0rem;
  align-self: center;
}

.brand-name {
  font-size: 1rem;
  letter-spacing: 0.15rem;
  margin-bottom: 1rem;
}

.product-name {
  font-size: 3rem;
  margin-bottom: 3rem;
}

.product-description {
  font-size: 1rem;
  letter-spacing: 0.05rem;
  margin-bottom: 1rem;
  font-weight: 400;
}
/**/
.price-section {
  justify-content:start;
  flex-wrap: wrap;
  margin-block: 2rem;
}

.current-price {
    margin-right: 1rem;
    font-size: 2rem;
}

.discount {
  display: block;
  font-size: 1rem;
}
/**/
.previous-price {
  flex-basis: 100%;
  font-size: 1.5rem;
  margin-top: 0.5rem;
}



.add-to-cart {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 3.5rem;
}

.quantity-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0;
}

}